body {
	margin: 0;
	padding: 0;
	background: #8ABB40;
	color: #036936;
}

a {
	color: #104735;
	font-weight: 500;
}

a:hover {
	color: #FED103;
	text-decoration: none;
}

h1, h2, h3 {
    text-align: center;
    padding-bottom: .5em;
}

div#header {
    margin: 2em auto;
    width: 80%;
}

.staff-profile, #student-grid .col-md-3 {
    text-align: center;
}

#student-grid {
	width: 80%;
}